.remove-btn {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    align-self: center;
    color:  rgb(255, 123, 0);
    font-size: 10px;
}


.favorite-card {
    display: flex;
    flex-direction: column;
}

.img-title {
    padding: 10px;
}

.Favorites {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.remove-text {
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (min-width: 1200px) {

    .remove-btn {
        cursor: pointer;
        color:  white;
        font-size: 15px;
        border-radius: 2px;
    }

    .remove-btn:hover {
        color:  rgb(255, 123, 0);
        background-color: rgb(110, 100, 100);
        box-shadow: rgb(118, 109, 109) 0px 1px 4px;
        border-radius: 2px;
    }

    .remove-btn:active {
        transform: scale(0.8);
    }

    .img-title:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .img-title {
        transition: transform 0.5s;
        cursor: pointer;
    }

    .remove-text {
        margin-left: 5px
    }

}